
.main{
    display: flex;
    margin-top: 30px;
    padding: 10px;
    // border: 1px solid red;
    align-items: center;
    justify-content: center;
}


.signupmain{
    display: flex;
    margin-top: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;

    .mainwrap{

        
        display: flex;
        padding: 10px;
        width: 90%;
        align-items: center;
        justify-content: center;

        .wrap{
            
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: center;
            
        }
    }

    
}